[submodule "submodule_test"]
	path = submodule_test
	url = git@github.com:davies-tl/submodule_test.git
	branch = master
[submodule "submodule_test_2"]
	path = submodule_test_2
	url = git@github.com:davies-tl/submodule_test_2.git
	branch = master
[submodule "submodule_test_3"]
	path = submodule_test_3
	url = git@github.com:davies-tl/submodule_test_3.git
	branch = master
[submodule "submodule_test_4"]
	path = submodule_test_4
	url = git@github.com:davies-tl/submodule_test_4.git
	branch = master
[submodule "submodule_test_last"]
	path = submodule_test_last
	url = git@github.com:davies-tl/submodule_test_last.git
	branch = master
